{% extends 'core/base.html' %}

{% load static %}


{% block content %}



<div id="portfolio" class="our-portfolio section">
    <div class="portfolio-left-dec">
      <img src="{% static 'assets/images/portfolio-left-dec.png' %}" alt="">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
            <h2>Tenemos una gran <em>gama de soluciones </em> &amp; para llevar al máximo <span>el nivel tu compañia</span></h2>
            <span>Nuestro Portafolio</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-portfolio">
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="https://templatemo.com/tm-564-plot-listing" target="_parent"><h4>Bussines Analyst</h4></a>
                    <span>Ayuda a las personas a ver y comprender los datos</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Workshop</h4></a>
                    <span>análisis de datos</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a rel="sponsored" href="https://templatemo.com/tm-562-space-dynamic" target="_parent"><h4>Balanced Scorecard</h4></a>
                    <span>Creamos un Balanced Scorecard para medir y mejorar tus procesos</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Capacitacion</h4></a>
                    <span>Transferimos gran expertise en la industria del Businnes analitics</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Venta de Software</h4></a>
                    <span>Responda preguntas a la velocidad del pensamiento</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Venta de Hardware</h4></a>
                    <span>La Exigencia que tenemos en ofrecer siempre productos de calidad</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Desarrollo de software</h4></a>
                    <span>Desarrollo web y móvil a la medida de tu negocio</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Venta de Software</h4></a>
                    <span>Responda preguntas a la velocidad del pensamiento</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Balanced Scorecard</h4></a>
                    <span>Creamos un Balanced Scorecard para medir y mejorar tus procesos</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Venta de Hardware</h4></a>
                    <span>La Exigencia que tenemos en ofrecer siempre productos de calidad</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Bussines Analyst</h4></a>
                    <span>Ayuda a las personas a ver y comprender los datos</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="thumb">
                <img src="{% static 'assets/images/portfolio-03.jpg' %}" alt="">
                <div class="hover-effect">
                  <div class="inner-content">
                    <a href="#"><h4>Workshop</h4></a>
                    <span>análisis de datos</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
  
{% endblock %}